version: '3.7'
services:
  executor:
    image: daleal/executor:latest
    init: true
    ports:
      - "8000:8000"
    networks:
      - backend
    deploy:
      mode: replicated
      replicas: 5
      restart_policy:
        condition: any
  web:
    image: daleal/executor-api:latest
    init: true
    ports:
      - "80:5000"
    environment:
      - EXECUTOR_URL
    depends_on:
      - executor
    networks:
      - backend
    deploy:
      mode: replicated
      replicas: 2
      restart_policy:
        condition: any

networks:
  backend:
