name: deploy

on:
  push:
    branches:
      - master

jobs:
  build-images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Publish the Executor to Docker Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: daleal/executor
          workdir: executor
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tags: "latest"

      - name: Publish the Executor API to Docker Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: daleal/executor-api
          workdir: api
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tags: "latest"

  deploy-to-aws:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          name: id_rsa
          key: ${{ secrets.SSH_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Deploy the stack
        run: |
          cat docker-compose.production.yml | ssh -i ~/.ssh/id_rsa ${{ secrets.AWS_USERNAME }}@${{ secrets.AWS_PUBLIC_DNS }} docker stack deploy --compose-file - executor
